.input {
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 7px 20px;
  margin-right: 10px;
  background: transparent;
  width: 250px;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

/* CSS */
.button-85 {
  padding: 7px 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#main-search {
  text-align: center;
}

form {
  margin-top: 4%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 10em;

  line-height: 2;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}


.new-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

}

.new-content > div {

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  background-color: #1040802c;
}

.new-content > div img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  
}

.new-content > div h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.new-content > div p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.new-content > div a {
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.new-content > div a:hover {
  background-color: #0062cc;
}
