/* .hero{

height: 100vh;
width:100;
background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),url('https://c4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-preview.jpg'));


} */
/* 
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li {
  color: black;
  text-decoration: none;
  font-weight: bold;
} */
body {
  background: url("https://c4.wallpaperflare.com/wallpaper/135/692/935/astronaut-space-black-background-artwork-hd-wallpaper-preview.jpg");

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;

  backdrop-filter: blur(14px);

  font-family: poppins;

  height: 100vh;
  width: 100%;
}
